COMPOSE_GRAPHQL_ENDPOINT=https://graphql.germanywestcentral.umbracocompose.com/hjalte/production
COMPOSE_TOKEN_ENDPOINT=https://management.umbracocompose.com/v1/auth/token
COMPOSE_CLIENT_ID=your-client-id-here
COMPOSE_CLIENT_SECRET=your-client-secret-here
